# This solves the bug (https://issues.redhat.com/browse/RHOAIENG-49388) we found in  in RHOAI 3.2
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rhoai-monitoring-fix
  namespace: redhat-ods-monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rhoai-monitoring-fix-role
  namespace: redhat-ods-monitoring
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["create", "get", "update", "patch"]
- apiGroups: ["monitoring.rhobs"]
  resources: ["prometheuses"]
  verbs: ["get", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rhoai-monitoring-fix-rb
  namespace: redhat-ods-monitoring
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rhoai-monitoring-fix-role
subjects:
- kind: ServiceAccount
  name: rhoai-monitoring-fix
  namespace: redhat-ods-monitoring
---
apiVersion: batch/v1
kind: Job
metadata:
  name: fix-rhoai-monitoring
  namespace: redhat-ods-monitoring
spec:
  backoffLimit: 4
  template:
    spec:
      serviceAccountName: rhoai-monitoring-fix
      restartPolicy: Never
      containers:
        - name: fix-monitoring
          image: image-registry.openshift-image-registry.svc:5000/openshift/tools:latest
          imagePullPolicy: IfNotPresent
          command:
            - /bin/bash
            - -c
            - |
              # 2. Fix CA bundle for service certificates
              oc apply -f - <<EOF
              apiVersion: v1
              kind: ConfigMap
              metadata:
                name: serving-certs-ca-bundle
                namespace: redhat-ods-monitoring
                annotations:
                  service.beta.openshift.io/inject-cabundle: "true"
              data: {}
              EOF

              # 3. Mount CA bundle in Prometheus
              oc patch prometheuses.monitoring.rhobs data-science-monitoringstack -n redhat-ods-monitoring --type=merge -p '{"spec":{"configMaps":["serving-certs-ca-bundle"]}}'
