apiVersion: v1
kind: Service
metadata:
  name: {{ include "canopy-board.fullname" . }}
  labels:
    {{- include "canopy-board.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    {{- include "canopy-board.selectorLabels" . | nindent 4 }}
